<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>
		  org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <!-- 404에러의 경우 DispatcherServlet에 의해 처리된다.
          @ControllerAdvice에서 익셉션 처리를 할 수 있도록 아래와 같이 설정한다.
          404에러 페이지로 넘기지 않고, 익셉션을 발생시키는 설정 -->
    <init-param>
       <param-name>throwExceptionIfNoHandlerFound</param-name>
       <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServicempl</display-name>
    <servlet-name>BoardServicempl</servlet-name>
    <servlet-class>com.naver.myhome5.domain.BoardServicempl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServicempl</servlet-name>
    <url-pattern>/BoardServicempl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServicempl</display-name>
    <servlet-name>MemberServicempl</servlet-name>
    <servlet-class>com.naver.myhome5.service.MemberServicempl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServicempl</servlet-name>
    <url-pattern>/MemberServicempl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServicempl</display-name>
    <servlet-name>CommentServicempl</servlet-name>
    <servlet-class>com.naver.myhome5.service.CommentServicempl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServicempl</servlet-name>
    <url-pattern>/CommentServicempl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardServiceMPL</display-name>
    <servlet-name>BoardServiceMPL</servlet-name>
    <servlet-class>com.naver.myhome5.service.BoardServiceMPL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServiceMPL</servlet-name>
    <url-pattern>/BoardServiceMPL</url-pattern>
  </servlet-mapping>
</web-app>